* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.swift text eol=lf
*.pbxproj text eol=lf
*.plist text eol=lf
*.entitlements text eol=lf
*.xcscheme text eol=lf
*.xcconfig text eol=lf
*.xcworkspacedata text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.xml text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
